html, body {
  height: 100%
}
body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#body_watchlist {
  background: url(/images/wikipedia-background.png) 50% 50% #d6d6d6 no-repeat;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.shorten li .art {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.55);
}
li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}
li {
  padding: 5px;
}
li.empty {
  text-align: center;
}
.timestamp {
  color: red;
  float: left;
  font-family: monospace;
}
.art {
  display: block;
  margin-left: 4em;
}

#new_message {
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  display: none;
}

#new_message img {
  height: 24px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  margin-left: 2px;
}

#not_logged_in {
  display: none;
  top: 50%;
  position: relative;
  text-align: center;
  margin-top: -1em;
  font-size: 1.2em;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.6);
  color: red;
}

#body_options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  overflow: auto;
  font-size: 18px;
  background-color: #d6d6d6;
}
#body_options fieldset {
  max-width: 50em;
  background-color: rgba(255, 255, 255, 0.6);
}
#body_options input, #body_options button {
  margin: 0 0 0 1em;
  font-size: inherit;
  font-family: inherit;
}
#body_options input[type=url] {
  width: 20em;
}
#body_options input[type=number] {
  width: 4em;
  text-align: right;
}
#body_options button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}
#body_options .hint {
  color: #888;
  font-style: italic;
  display: block;
}
#container_options {
  background: url(/images/wikipedia-background.png) 50% 50% #d6d6d6 no-repeat;
  background-size: 400px;
}
#before_options {
  flex-grow: 1;
}
#after_options {
  flex-grow: 2;
}
